body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgray;
}

header {
   background-color: white;
}
header img {
    vertical-align: middle;
    padding: 18px;
}
header span {
    padding-top: 10px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
}
/* creazione sfondo */
main {
    margin: 20px;
    background-color: white;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 1%;
    border-radius: 2%;
    
}
#section {
    margin-top: 20px;
}
.contenitore {
    margin-top: 20px;
    margin-left: 50px;

}
#controller1 {
    color: white;
    border-radius: 15%;
    background-color: rgb(20, 141, 182);
   padding: 6px;
}
#controller2 {
    color: grey;
    border-radius: 8%;
    border: 2px solid grey;
    height: 28px;
    width: 100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* inizio seconda section */
h2 {
    margin-bottom: -13px;
}
#section2 {
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pulsanti {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 8px;
    color: white;
}
#blu1 {
    background-color: rgb(66, 133, 221);
    border-radius: 14px;
    padding: 1%;
}
#blu2 {
    background-color: rgb(66, 133, 221);
    border-radius: 14px;
    padding: 1%;
}
#blu3 {
    background-color: rgb(66, 133, 221);
    border-radius: 14px;
    padding: 1%;
}
#viola {
    background-color: rgb(140, 21, 252);
    border-radius: 14px;
    padding: 1%;
}
#verdescuro {
    background-color: rgb(51, 153, 106);
    border-radius: 14px;
    padding: 1%;
}
#arancione {
    background-color: rgb(252, 160, 21);
    border-radius: 14px;
    padding: 1%;
}
#rosa {
    background-color: rgb(182, 93, 177);
    border-radius: 14px;
    padding: 1%;
}
#verde {
    background-color: rgb(98, 226, 93);
    border-radius: 14px;
    padding: 1%;
}

.cerchioverde {
    color: green;
    background-color: white;
    border-radius: 50%;
    border: 1px solid  green;
    padding: 3PX;
}
.cerchiorosso {
    color: red;
    background-color: white;
    border-radius: 50%;
    border: 1px solid  red;
    padding: 3PX;
}
